extends layout.pug

block scripts
  script(type='text/javascript' src='/js/analyzePhoto.js')
  script(type='text/javascript' src='/js/retakePhoto.js')
  script(type='text/javascript' src='/js/makeEntry.js')

//- New Diary entry form
block content
  h1.mt-5= title
    .mb-1
      video#camera(autoplay='' width='320' height='240')
      canvas#photoContainer(width='320' height='240')
    div
      button#capture Take Photo
      button#retakePhoto(onclick='retakePhoto()') Retake
      button#usePhoto(onclick='analyzePhoto()') Use Photo
      button#makeEntry(onclick='makeEntry()') Save Entry
    #results

    label(for='comment')
    input#comment.form-control(type='text', placeholder='Enter comment', name="comment", value=diary.comment)
    
    button.btn.btn-primary(type='submit') Submit 